h1, p
{
    color:grey;

}
.topnav{
    width: auto;
    left: 020px;
    
    position:sticky;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-style: outset;
    border-width: 1px;
}
.search-container{
    float: left;
    border-right: 1px solid black;
}
.search-col{
    box-sizing: border-box;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    border-width: 10vmin;
    border-color: black;
}
.banner_1
{
    padding:auto;
    width: 500px;
    height: 200px;
    background-image: url('images/outils WoShCe.jpg');
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: auto;
    border-color: black;
    border-style: outset;
    border-width: 1px;
    align-items: first baseline;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.banner-image
{

    width: 250px;
    height: 250px;
    position: sticky;
    top: 200px;
    left: 300px;
}